<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="JenkinsUsername" value="automation_usr"/>
    <add key="JenkinsToken" value="11911e77db704669b197271c233458fd66" />
    <add key="DownloadJobName" value="uic-uiautomation-download" />
    <add key="NodeJobName" value="uic-uiautomation-node" />
  </appSettings>
</configuration>
