<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net48" />
  <package id="Interop.Microsoft.Office.Interop.OneNote" version="1.1.0.0" targetFramework="net48" />
  <package id="Interop.Microsoft.Office.Interop.Publisher" version="2.2.0.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.9.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="NPOI" version="2.4.1" targetFramework="net48" />
  <package id="Ns.Microsoft.Office.Interop.All" version="15.0.0.2" targetFramework="net48" />
  <package id="NUnit" version="3.12.0" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net48" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="95.0.4638.5401" targetFramework="net48" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.30.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.1-beta" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.6.0" targetFramework="net48" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net48" />
</packages>