<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="InfluxDbConnection" value="http://sqaue2mstp101.uplandsoftware.net:8086"/>
    <!--<add key="InfluxDbConnection" value="http://localhost:8086" />-->
    <add key="Username" value="cli_writer"/>
    <add key="EncryptedPassword" value="sEM9oQZO6RMpUqaVzLcYlw=="/>
    <add key="DatabaseName_soapuilog" value="[db-name]"/>
    <add key="DatabaseName_junit" value="[db-name]"/>
    <add key="DatabaseName_nunit" value="uic_ui_automation"/>
    <add key="DatabaseName_jmeter" value="[db-name]"/>
    <add key="DatabaseName_jmeter-compact" value="[db-name]"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
